<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Q&A Maintenance</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/mybootstrap.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/watson-speech.min.js"></script>
    <script src="/stt.js"></script>
</head>

<body>

<%- include('header', {current:'Speech to Text'}) %>

<div class="container-fluid" style="margin: 15px 0 0 0">
    <form id="modelFormId">

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" id="createModelId" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="trainBtnId" class="btn btn-default">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Train
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="sttStartId" class="btn btn-default">
                    <span class="glyphicon glyphicon-record" aria-hidden="true"></span> Recognize
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="sttStopId" class="btn btn-default">
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="deleteModelBtnId" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete model
                </button>
            </div>
        </div>
        <br>

        <table id="modelTableId" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>customization_id</th>
                <th>name</th>
                <th>created</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">
                    <input type="radio" id="defaultRadioId" name="modelRadio" value="default" checked="checked">
                </td>
                <td>default</td>
                <td>ja-JP_BroadbandModel</td>
                <td></td>
                <td></td>
            </tr>
            <% for(let i = 0, length = list.length; i < length; i++){ %>
            <tr>
                <td class="text-center">
                    <input type="radio" id="<%= list[i].customization_id %>RadioId" name="modelRadio"
                           value="<%= list[i].customization_id %>">
                </td>
                <td><%= list[i].customization_id %></td>
                <td><%= list[i].name %></td>
                <td><%= list[i].created %></td>
                <td><%= list[i].status %></td>
            </tr>
            <% } %>
            </tbody>
        </table>

    </form>
    <div class="panel panel-default">
        <div class="panel-heading">WatsonSpeech.SpeechToText # recognizeMicrophone</div>
        <div class="panel-body"><p id="outputId">--</p></div>
    </div>
    <div id="resultId"></div>
</div>

<!-- Create Modal -->
<div class="modal" id="createModalId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Create</h4>
            </div>
            <div class="modal-body">
                <p>「ja-JP_BroadbandModel」をベースにカスタムモデルを作成します。</p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="createNameId">name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="createNameId" placeholder="名前" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="createDescriptionId">description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="createDescriptionId" placeholder="説明" value="">
                        </div>
                    </div>
                </form>
                <p class="text-right">よろしいですか？</p>
            </div>
            <div class="modal-footer">
                <button id="cancelBtnId" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="createBtnId" type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal" id="deleteModalId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Delete classifier</h4>
            </div>
            <div class="modal-body">
                <p>「<span id="deleteId"></span>」を削除します。よろしいですか？</p>
            </div>
            <div class="modal-footer">
                <button id="cancelBtnId" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="deleteBtnId" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Result Modal -->
<div class="modal" id="resultModalId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Result</h4>
            </div>
            <div class="modal-body">
                <div id="resultModalMessageId">Runnig</div>
            </div>
            <div class="modal-footer">
                <button id="okBtnId" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Corpora Modal -->
<div class="modal" id="corporaModalId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Corpora</h4>
            </div>
            <div class="modal-body">
                <form id="uploadCorpusId">
                    <div class="input-group">
                        <span class="input-group-addon">Corpus file</span>
                        <input type="file" id="corpusfileId" name="corpus-txt" class="form-control">
                        <span class="input-group-btn">
                            <button id="uploadCorpusBtnId" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Add
                            </button>
                        </span>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">Corpus name</span>
                        <!--
                        <input type="text" id="deleteCorpusNameId" class="form-control" placeholder="削除するコーパス名を入力">
                        -->
                        <select id="deleteCorpusSelectId" class="form-control"
                                style="border-radius: 0!important; -webkit-appearance:none;">
                        </select>
                        <span class="input-group-btn">
                            <button id="deleteCorpusBtnId" type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                            </button>
                        </span>
                    </div>
                </form>
                <hr>
                <div id="corporaResultId"></div>
            </div>
            <div class="modal-footer">
                <button id="corporaCloseBtnId" type="button" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Word Modal -->
<div class="modal" id="wordModalId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">Word</h4>
            </div>
            <div class="modal-body">
                <form id="uploadWordId">
                    <div class="input-group">
                        <span class="input-group-addon">Corpus file</span>
                        <input type="file" id="wordfileId" name="word-json" class="form-control" accept="text/plain,.json">
                        <span class="input-group-btn">
                            <button id="uploadWordBtnId" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Add
                            </button>
                        </span>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">Corpus name</span>
                        <!--
                        <input type="text" id="deleteCorpusNameId" class="form-control" placeholder="削除するコーパス名を入力">
                        -->
                        <select id="deleteWordSelectId" class="form-control"
                                style="border-radius: 0!important; -webkit-appearance:none;">
                        </select>
                        <span class="input-group-btn">
                            <button id="deleteWordBtnId" type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                            </button>
                        </span>
                    </div>
                </form>
                <hr>
                <div id="wordResultId"></div>
            </div>
            <div class="modal-footer">
                <button id="wordCloseBtnId" type="button" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>